<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <title>New Teach | Manage Products</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="/img/taxi.svg" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.css" />

</head>

<body>

<div class="container-fluid">
  <div class="row">

    <div class="col-12">
      <div class="row">

        <!-- nav -->
        <div class="col-12 col-lg-2 rounded border border-primary bg-dark">
          <div class="row">

            <div class="col-12">
              <div class="row">

                <div class="col-12 mt-5">
                  <h4 class="text-white">Travel</h4>
                </div>

                <div class="col-12 logo"></div>

                <div class="col-12 mt-5">
                  <h4 class="text-white">Aathif</h4>
                  <hr class="border border-1 border-white" />
                </div>

                <div class="nav flex-column nav-pills me-3 mt-3" role="tablist" aria-orientation="vertical">
                  <nav class="nav flex-column">
                    <a class="nav-link active fs-5 text-white" aria-current="page" href="#"><i class="bi bi-house-fill text-white"></i> Dashboard</a>
                    <a class="nav-link fs-5 text-white" href="#"><i class="bi bi-screwdriver text-white"></i> Manage Drivers</a>
                    <a class="nav-link fs-5 text-white" href="#"><i class="bi bi-car-front-fill text-white"></i> Ongoing Trips</a>
                    <a class="nav-link fs-5 text-white" href="#"><i class="bi bi-credit-card-fill text-white"></i> Trip Payments</a>
                    <a class="nav-link fs-5 text-white" href="#"><i class="bi bi-hourglass-split text-white"></i> Trip History</a>
                    <a class="nav-link fs-5 text-white" href="#"><i class="bi bi-x-octagon-fill text-white"></i> Cancelled Trips</a>
                    <a class="nav-link fs-5 text-white" href="#"><i class="bi bi-people-fill text-white"></i> Customer</a>
                    <a class="nav-link fs-5 text-white" href="#"><i class="bi bi-chat-fill text-white"></i> Message</a>
                    <a class="nav-link fs-5 text-white" href="#"><i class="bi bi-gear-fill text-white"></i> Setting</a>
                    <a class="nav-link fs-5 text-white" href="#"><i class="bi bi-box-arrow-right text-white"></i> Log Out</a>
                  </nav>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- nav -->

        <div class="col-12 col-lg-10 my-2">
          <div class="row">

            <div class="col-11 text-white fw-bold mb-3">
              <h2 class="text-dark mt-1 fw-bold">Dashboard</h2>
            </div>

          </div>
        </div>


      </div>
    </div>

  </div>
</div>


</body>

</html>