<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title><title>Register Page</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
<body>
<div class="col-11 mx-auto" style="margin-top: 200px;">
    <div class="card col-12 col-lg-5 mx-auto">
        <div class="">
            <h3 class="text-center text-dark mb-3 mt-3">WELCOME To Register</h3>
        </div>
        <div class="card-body bg-white">
            <div class="col-11 mx-auto mb-4">
                <span class="text-dark">Name</span>
                <input type="text" class="col-12 text-dark">
            </div>
            <div class="col-11 mx-auto mb-4">
                <span class="text-dark">Email</span>
                <input type="email" class="col-12 text-dark">
            </div>
            <div class="col-11 mx-auto mb-4">
                <span class="text-dark">Mobile</span>
                <input type="text" class="col-12 text-dark">
            </div>
            <div class="col-11 mx-auto mb-4">
                <span class="text-dark">Password</span>
                <input type="password" class="col-12 text-dark">
            </div>
            <div class="col-11 mx-auto mb-4">
                <button class="btn btn-success col-12">LOGIN</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>